dataclasses==0.7; python_version >= "3.6" and python_version < "3.7" and python_full_version >= "3.6.1"
pydantic==1.8.2; python_full_version >= "3.6.1"
typing-extensions==3.10.0.2; python_full_version >= "3.6.1"
